@import "variables";

body {
  background-color: $background-color;
  font-family: $primary-font;
}

main {
  &.container {
    width: 100%;
    margin: 0 auto;
  }
}

.errors {
  color: $error-color;
  font-size: 15px;
}

// HOMEPAGE
.jumbotron {
  background-image: url('../assets/images/girl-and-road.jpg');
  background-position: center;
  background-size: cover;
  min-height: 730px;
}

.jumbotron-text {
  text-align: right;
  font-size: 30px;
  color: $font-color;
}

.jumbotron-button {
  font-size: 27px;
  border-radius: 3px;
  padding: 8px 10px;
  color: $font-color;
  border: 0;
  text-transform: uppercase;
  opacity: 0.7;
} a {
  color: $font-color;
}

.jumbotron-button, a:hover {
  color: $hover-font-color;
  text-decoration: none;
}

.jumbotron-container {
  margin-right: 10%;
}


// INDEX
.title {
  text-align: center;
  font-size: 50px;
  color: $font-color;
}

.index-margin-button {
  margin-bottom: 1%;
}

.title:hover {
  text-decoration: none;
  color: $hover-font-color;
}

.image-container {
  width: 250px;
  height: 150px;
  overflow: hidden;
  margin: 10px;
  border-radius: 6px;
}

.brand-title {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 20%;
  color: $font-color;
  visibility: hidden;
}

.image-container:hover .brand-title {
  visibility: visible;
}

div {
  img {
    &.index-images {
      width: inherit;
      height: inherit;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &.index-images:hover {
      opacity: 0.1;
    }
  }
}

.main-button {
  font-size: 18px;
  border-radius: 3px;
  padding: 8px 10px;
  color: $font-color;
  border: 0;
  background-color: #F9F9F6;
  text-transform: uppercase;
  text-decoration: underline;
}

.main-button:hover {
  color: $hover-font-color;
  text-decoration: none;
  opacity: 0.8;
}

.input-bar {
  width: 100%;
  margin: 0 auto;
  background-color: $background-color;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
  outline: none;
  margin-bottom: 1%;
}

*:focus {
  outline: none;
}

// SHOW PAGE
.show-title {
  text-align: center;
  font-size: 45px;
  color: $font-color;
  margin-bottom: 0;
}

.margin-button {
  margin-bottom: 5%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.slider {
  margin: 10%;
}

.show-margin {
  margin-top: 4%;
}


.show-link {
  color: $font-color;

  text-decoration: underline;
}

.comments {
  list-style-type: none;
}

.product-container {
  width: 100%;
  margin: 10px;
  border-radius: 6px;
}

.subtitle {
  font-size: 20px;
}

// NAVBAR ITEM
.navbar {
  padding-top: 2%;
}

.navbar-item {
  color: $font-color;
  text-transform: uppercase;
}

.navbar-item:hover {
  text-decoration: none;
  color: $hover-font-color;
}

hr.horizontal-rule {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

// PROFILE PAGE

.welcome {
  color: $hover-font-color;
  text-decoration: underline;
}

.profile-details {
  margin-bottom: 5%;
}
