
.image-container {
  width: 250px;
  height: 150px;
  overflow: hidden;
  margin: 10px;
  border: 2px solid black;
}

img {
  &.index-images {
    width: inherit;
    height: inherit;
  }
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
